<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb<br>

I plan on learning new technologies that I don't have prior experience with. <br>I plan on learning some best practices that I can extend to my co-ops/future projects/life.<br>I am a 3rd year and I hope to learn as much as I can through the various assignments and the projects.

</p>
 M* assignment <a href="http://www.se.rit.edu/~swen-344/homeworks/MPatterns.html"> here</a> 
<br>

<div class="container-fluid">
<%= image_tag "betty pearls.jpg" %>
</div>